#ButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#ButtonContainer button {
    width: 20%;
    margin-bottom: 2px;
}
#ButtonContainer button:last-child {
    margin-bottom: 0;
}

.album-table {
    width: 100%;
    border-collapse: collapse;
}


.album-table th {
    text-align: left;
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.album-table tr:nth-child(even) {
    background-color: #f5f5f5;
}

.album-table tr:nth-child(2) td {
    padding-top: 0.25em;
}

.album-table img {
    height: 4em;
}